extends ../../../../templates/Maintemaster

block content
    div.ui.centerer
        div.ui.segment.ping.p-adjust
            div.ui.container
            div.ui.ribbon.label.huge.inverted.blue 
                p Employee Type
                    i.configure.icon
            a.button.green.right.floated.ui.basic.button.huge(href="/maintenance/EmployeeType/new")
                i.add.icon
                |&nbsp; Add Employee Type
            table.ui.padded.yellow.table   
                th
                    tr
                        th.eleven.wide.tp.t-align Employee Type
                        th.tp Actions  
                    each emp in emps
                        tr
                            td= emp.strEmployeeTypeName
                            td
                                a(href=`/maintenance/EmployeeType/${emp.strEmployeeTypeID}`): i.ui.green.address.edit.icon.large
                                a(href=`/maintenance/EmployeeType/${emp.strEmployeeTypeID}/remove`): i.ui.green.remove.icon.large