extends ../../../templates/base
block body
    div.ui.fluid.container.body
        div.ui.center.aligned.container.sHeight
            b.center.aligned.fontLato.wTcolor.size.tShadow FPMS
            h1.center.aligned.fontLato.wTcolor.tShadow Click.&nbsp;Save.&nbsp;Monitor.
        div.ui.center.aligned.container.height4
            a.button.ui.white.inverted.huge.button.mg(href="/login") Login
    div.ui.fluid.container
        div.ui.center.aligned.container
    div.ui.black.inverted.vertical.footer.segment.mbnone
        div.ui.center.aligned.container.height3
            div.ui.stackable.inverted.grid
                div.four.wide.column
                    h3.ui.inverted.teal.header Developers Guild
                    p Tolentino, Ben Hur Adrian Raphael
                    p Pagaduan, John Carlos
                    p Mariñas, Levie Anne
                    p Cadena, John Homer
                    p Malto, Reign Emmanuel
                div.ui.seven.wide.right.floated.column.height5
                    h3.ui.inverted.teal.header Copyright
                    p.wTcolor This System is made for the 
                    p College of Computer and Information Sciences
                    p Faculty Performance Monitoring System
            div.ui.inverted.section.divider
            img.ui.centered.tiny.image(src="/assets/Faculty/logo.png")
            p.height2.fontJockey.inverted.label &copy; &nbsp;2017 FPMS   
            script.
                