extends ../../../templates/Schedule/SCSmaster

block content
    div.ui.centerer
        div.ui.segment.ping.p-adjust
            div.ui.container
            .ui.ribbon.label.inverted.teal
                label.ui.textcolor Department of Computer Science Schedule List
            div.boy
                div.ui.center.aligned.container.sHeight
                    b.center.aligned.fontLato.wTcolor.size.tShadow Scheduling System
                    h1.center.aligned.fontLato.wTcolor.tShadow Coming Soon!