extends ../../../templates/Schedule/SITmaster

block content
    div.ui.centerer
        div.ui.segment.ping.p-adjust
            div.ui.container
            div.ui.ribbon.label.inverted.yellow
                label.ui.textcolor Department of Information Technology Schedule List
            div.boy
                div.ui.center.aligned.container.sHeight
                    b.center.aligned.fontLato.wTcolor.size.tShadow Scheduling System
                    h1.center.aligned.fontLato.wTcolor.tShadow Coming Soon!