extends ../../../templates/CSmaster

block content
    div.ui.centerer.height7
        div.ui.segment.ping.p-adjust
            div
            div.ui.ribbon.label.inverted.huge.teal.adjustleft
                label.ui Ranking
            div.ui.container.inverted.teal.height7
                form.ui.form(method="POST" action=`/faculty/${profs[0].strFacultyID}/rank`)
                    div.ui.three.fields
                        div.ui.field
                            label Rank
                            select.ui.selection.search.dropdown(name="rank")
                                each rank in ranks
                                    option(value=rank.strFacultyRankRefID) #{rank.strFacultyRankName}
                        div.ui.field
                            label.ui.large.teal.tag Date of Effectivity
                            input(type="date" name="dateofeffect")
                        input(type="hidden" name="frid" value=ID)
                        div.height2.let
                            button#add.ui.labeled.orange.icon.button.rightp.height1()
                                i.add.icon
                                p Submit