extends ../../../templates/Reports/Mreportmaster
block content
    div.ui.centerer
        div.ui.segment.ping.p-adjust
            div
            div.ui.ribbon.label.inverted.huge.teal.adjustleft
                label.ui Educational Attainment
            div.ui.huge.adjustleft.teal.label
                label.ui Faculty
            div.ui.two.fields.height7.pright()
                form.ui.form(method="POST" action="")
                    div.ui.three.fields
                        div.ui.field
                            label.ui Select Studies
                            select#multi-select.search.multiple.selection.dropdown
                                option
                    div.ui.four.fields
                        div.ui.field
                            label School /  University / College
                            input(type="text" name="suc" placeholder="School")
                            div.ui.field
                            label Date Graduated
                            input(type="Date" name="dategrads" placeholder="Date Graduated")
                        div.ui.field
                            label Units
                            input(type="text" name="gradunits" placeholder="Units")
                        div.ui.field.height2.pright
                            button#add.ui.labeled.orange.icon.button.width5.height3()
                                i.add.icon
                                p Add 
            script.
                $('#select','').dropdown();
                $('#multi-select')
                    .dropdown()
                ;
                $('#multi-selects')
                    .dropdown()
                ;
                $('.menu .item')
                    .tab()
                ;