extends ../../../templates/CSmaster

block content
    div.ui.vertical.left.menu
        a.item(href="") Personal Information
        a.item(href="") Educational Background
        a.item(href="") Functions Attended
        a.item(href="") Faculty Ranking
    div.ui.s.adjusted.positioning
        div.ui.container
            div.ui.ribbon.label.inverted.black.large
                h3 Personal Information
            div.ui.segment.height.b-adjusted
                img.ui.small.image(src="/images/wireframe/image.png", alt="")
                div.ui.container.height
                    table.ui.padded.teal.table
                        tbody
                            tr
                                td.three.wide Name
                                td   
                            tr 
                                td Place of Birth
                                td
                            tr 
                                td Gender
                                td
                            tr 
                                td Residential Address
                                td
                            tr 
                                td Permanent Address
                                td
                            tr 
                                td Telephone No.
                                td
                            tr 
                                td Mobile No.
                                td
                            tr 
                                td Email Address
                                td