extends ../../../templates/CSmaster.pug

block content
    div.ui.centerer
        div.ui.segment.ping.p-adjust
            div.ui.container
            div.ui.ribbon.label.inverted.teal
                label.ui.textcolor Department of Computer Science Faculty 
            table.ui.compact.celled.teal.table 
                th
                    tr
                        th.one.wide.tp.t-align ID
                        th.t-align.five.wide Last Name
                        th.t-align.five.wide First Name
                        th.t-align.four.wide Middle Name
                        th.tp.four.wide
                    
                    tr
                th
                    tr
                        th.tp.t-align
                        th.t-align 
                        th.t-align 
                        th.t-align 
                        th.t-align.four.wide
                            a(href="")
                                i.ui.green.address.book.icon.large
                            
                

            
