extends ../../../templates/Schedule/SCSmaster

block content
    div.ui.centerer
        div.ui.segment.positioning.p-adjust
            div.ui.container
            .ui.ribbon.label.inverted.teal
                label.ui.textcolor Department of Computer Science Schedule List
                