extends ../../../templates/ITmaster.pug

block content
    div.ui.centerer
        div.ui.segment.ping.p-adjust
            div.ui.container
            div.ui.ribbon.label.inverted.yellow
                label.ui.textcolor Department of Information Technology Faculty 
            button.ui.basic.button.inverted.yellow.four.wide.field(type="submit" value="password")
                i.sign.in.icon 
                p Login
            table.ui.compact.celled.yellow.table 
                th
                    tr
                        th.one.wide.tp.t-align ID
                        th.t-align.five.wide Last Name
                        th.t-align.five.wide First Name
                        th.t-align.four.wide Middle Name
                        th.tp.four.wide
                    
                th
                    tr
                        th.tp.t-align
                        th.t-align 
                        th.t-align 
                        th.t-align 
                        th.t-align.four.wide
                            a(href="")
                                i.ui.green.address.book.icon.large
                            
                

            
