extends ../../../templates/ITmaster

block content
    div.ui.s.adjusted.ping
            div.ui.container
                div.ui.ribbon.label.inverted.black.large
                    h3 Personal Information
                div.ui.segment.height.b-adjusted
                    img.ui.small.image(src="/images/wireframe/image.png", alt="")
                    div.ui.container.height
                        div.ui.container
                        table.ui.padded.yellow.table
                            tbody
                                tr 
                                    td.four.wide
                                        label.ui.large.tag.yellow.label Function Level
                                    td.four.wide Function Type
                                    td.four.wide Function Name
                                    td.four.wide Date
                                tr
                                    td
                                    td
                                    td
                                    td
                                