extends ../../../templates/ITmaster

block content
    div.ui.s.adjusted.ping
        div.ui.container
            div.ui.ribbon.label.inverted.black.large
                h3 Rank List
            div.ui.segment.height.b-adjusted 
                img.ui.image()
                div.ui.container.height
                    div.ui.container
                        label.ui.ribbon.inverted.yellow.large.label Rank Information
                        table.ui.padded.orange.table
                            tbody
                                    tr
                                        td.six.wide 
                                            b Faculty Rank 
                                        td Instructor I
                                    tr 
                                        td  
                                            b Date of Effectivity
                                        td Jun 13 2017