html
    head
        title#scroll Faculty Performance Monitoring System
        script(src="/assets/JQuery/jquery-3.2.1.js")
        script(src="/assets/Semantic-UI-CSS-master/semantic.js")
        link(rel="stylesheet" href="/assets/Semantic-UI-CSS-master/semantic.css")
        link(rel="stylesheet" href="/assets/Semantic-UI-CSS-master/semantic.min.css")
        link(href="https://fonts.googleapis.com/css?family=Basic" rel="stylesheet")
        link(href="/assets/Faculty/favicon.ico" rel="icon" type="image/png")
        
    body
        block body
        script.
            $('#scroll').scroll();
        