html
    head
        title Faculty Performance Monitoring System
        script(src="/assets/JQuery/jquery-3.2.1.js")
        script(src="/assets/Semantic-UI-CSS-master/semantic.js")
        link(rel="stylesheet" href="/assets/Semantic-UI-CSS-master/semantic.css")
        link(rel="stylesheet" href="/assets/Semantic-UI-CSS-master/semantic.min.css")
        
        
        
    body 
        block body